<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="CHOSS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings"
                      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >

			<section name="CHOSS.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     requirePermission="false" />

		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="selectedConfig" value="Clone Hero"/>
		<add key="songTxtPaths" value="--;%UserProfile%/Clone Hero/currentsong.txt;currentsong.txt;currentsong.txt;currentsong.txt;currentsong.txt" />
		<add key="websocketIP" value="127.0.0.1"/>
		<add key="websocketPort" value="4455"/>
		<add key="websocketPass" value=""/>
		<add key="gameScene" value="Gameplay Scene"/>
		<add key="menuScene" value="Menu Scene"/>
	</appSettings>
</configuration>